.logo img{
  float: left;
  height: 50px;
  width: 195px;
}

.navigate li img {
	padding: 5px;
	height: 50px;
	width: 220px;
}

.navbar {
	background-color: #fff;
	border-bottom: #fff;
}

.jumbotron{
	background-image: url(../images/celebimage.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	border-top: 3px solid #51c4c1;
}



.smallbottle {
	padding-top: 220px;
	padding-left: 10px;

}