.logo img{
  float: left;
  height: 50px;
  width: 195px;
}

.navigate li img {
	padding: 5px;
	height: 50px;
	width: 220px;
}

.navbar {
	background-color: #fff;
	border-bottom: #fff;
}

.jumbotron{
	background-image: url(../images/celebimage.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	border-top: 5px solid #51c4c1;;
}

.box {
	background-image: url(../images/BlueB_02.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 30px 30px;
}

.topbox {
	color: white;
}

h3 {
	color: yellow;
}


.smallbottle {
	padding-top: 220px;
	padding-left: 10px;

}

.bottles {
	margin-left: 25px;
}